---
layout: style
---

@font-face {
    font-family:"Harrington";
    src: url("fonts/harrington.eot") /* EOT file for IE */
}
@font-face {
    font-family:"Harrington";
    src: url("fonts/harrington.ttf") /* TTF file for CSS3 browsers */
}

.navbar-default .nav li a{
    color: #FFF !important;
    font-weight: bolder !important;
}
