---
layout: style
---

@font-face {
    font-family:"Harrington";
    src: url("fonts/harrington.eot") /* EOT file for IE */
}
@font-face {
    font-family:"Harrington";
    src: url("fonts/harrington.ttf") /* TTF file for CSS3 browsers */
}

.navbar-default .nav li a{
    color: #000 !important;
    font-weight: bolder !important;
}

.navbar-default.navbar-shrink {
    background-color: #C6B7A4;
}
