---
layout: style
---

@font-face {
    font-family:"Harrington";
    src: url("font/harrington.eot") /* EOT file for IE */
}
@font-face {
    font-family:"Harrington";
    src: url("fonts/harrington.ttf") /* TTF file for CSS3 browsers */
}
