<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programma della giornata</h2>
                    <h3 class="section-subheading text-muted">17 Settembre 2016</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ore 16:00 - Cerimonia</h4></h4>
                                    <h4 class="subheading">Madonna Pellegrina - Coldirodi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La cerimonia avrà luogo nell'incantevole cornice del Santuario della Madonna Pellegrina di Coldirodi, sita sulle alture di Sanremo.</p>
                                    <p><a href="https://www.google.fr/maps/place/della+Madonna+Pellegrina/@43.8063869,7.7301696,17.1z/data=!4m8!1m2!2m1!1sColdirodi!3m4!1s0x0:0x8e3a38c3069a66d!8m2!3d43.8058463!4d7.7286297?hl=en">Mappa</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ore 18:00 ca - Aperitivo</h4>
                                    <h4 class="subheading">Ristorante misterioso</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ore 20 - Cena</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
