<!-- Team Section -->
    <section id="voyage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lista nozze</h2>
                    <h3 class="section-subheading">"Viaggiare è come sognare,la differenza è che non tutti, al risveglio, 
                    ricordano qualcosa, <br>mentre ognuno conserva calda la memoria della meta da cui è tornato."<br><br>
<b>Edgar Allan Poe</b><br><br>
Il regalo più gradito sarà il vostro contributo per rendere indimenticabile il nostro viaggio di nozze<br><br>
Agenzia Erebus Viaggi<br>Rondò Garibaldi, 15 18038 Sanremo, IM<br>
Tel +39 0184 500336<br><br>

O se non volete muovervi da casa... <a href="http://lnerebusviaggi.verytravel.it/index.php">Lista nozze online</a> - Username: sarahemauro - Password: 17Settembre
</h3>
                    <img id="imgMoai" src="img/moais.jpg" /> 
                </div>
            </div>
            
        </div>
    </section>
